{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-primary">Consultas Agendadas</h2>
    <ul class="list-group">
        {% for agenda in doctor_agenda %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ agenda }}
                <a href="?delete=true" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja concluir esta consulta?');">
                    Concluir Consulta
                </a>
            </li>
        {% empty %}
            <li class="list-group-item text-muted">Nenhuma consulta encontrada.</li>
        {% endfor %}
    </ul>
    {% if mark_agenda_deleted %}
        <div class="alert alert-success mt-3" role="alert">
            A consulta foi concluída.
        </div>
    {% endif %}
    {% if patient.history %}
        <div class="card mt-4">
            <div class="card-header bg-primary text-white">
                Histórico Médico
            </div>
            <div class="card-body">
                <p>{{ patient.history }}</p>
            </div>
        </div>
    {% endif %}
    <button id="showFormButton" class="btn btn-primary mt-4">Registrar Histórico Médico</button>
    <div id="historyForm" class="card mt-3" style="display: none;">
        <div class="card-body">
            <form method="post" id="historyFormSubmit">
                {% csrf_token %}
                <div class="form-group">
                    <label for="history">Escreva o histórico médico:</label>
                    <textarea name="history" id="history" class="form-control" rows="5" placeholder="Descreva o histórico médico do paciente..."></textarea>
                </div>
                <button type="submit" class="btn btn-success mt-3">Salvar Histórico</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('showFormButton').addEventListener('click', function() {
        document.getElementById('historyForm').style.display = 'block';
        this.style.display = 'none';
    });
</script>
{% endblock %}
